version: '3'

services:
  app:
    image: ghcr.io/belxlxla/graynchat:latest # 실제 소문자 계정명/레포명 입력
    container_name: grayn-app
    ports:
      - "3000:3000"
    restart: always

  nginx:
    image: nginx:latest
    container_name: grayn-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - app
    restart: always