name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            cd ~/graynserver
            
            # [1] 맥북에서 강제로 올린 최신 코드(dist 포함) 가져오기
            git fetch --all
            git reset --hard origin/main
            
            # [2] 청소 (용량 확보)
            sudo docker system prune -f
            
            # [3] 빌드하지 않고 바로 실행 (이미 맥북에서 빌드해서 dist를 보냈으니까요!)
            # --force-recreate를 써서 새 dist 폴더 내용을 즉시 반영합니다.
            sudo docker-compose up -d --force-recreate