name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            cd ~/graynserver
            
            # [1] 권한 정리 & 코드 받기
            sudo chown -R ubuntu:ubuntu .
            git checkout .
            git pull
            
            # [2] ★핵심 변경★
            # 기존 서버를 끄지 않습니다! (down 삭제함)
            # 켜진 상태에서 '새로운 이미지'를 먼저 만듭니다. (이때 사이트는 계속 살아있음)
            echo "Building new image..."
            sudo docker-compose build --no-cache
            
            # [3] 교체하기 (Swap)
            # 빌드가 다 끝나면, 1초 만에 옛날 컨테이너를 새것으로 갈아끼웁니다.
            echo "Swapping containers..."
            sudo docker-compose up -d
            
            # [4] 청소 (찌꺼기 제거)
            sudo docker system prune -f