name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            cd ~/graynserver
            
            # [1] 주인 찾아주기 (파일 권한 오류 해결)
            sudo chown -R ubuntu:ubuntu .
            
            # [2] 꼬인 거 풀기 (신사적인 초기화)
            git checkout .
            
            # [3] 최신 코드 당겨오기
            git pull
            
            # [4] 도커 다시 굽기 (캐시 없이 확실하게)
            sudo docker-compose down
            sudo docker-compose up -d --build --no-cache
            
            # [5] 청소
            sudo docker system prune -f